<<<<<<< HEAD
<div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <!--top bar-->
        <div class='top-bar clearfix light'>
            <div class='container'>
                <div class='float-sm-right'>
                    <ul class='list-inline mb0'>
                        <li class='list-inline-item'>
                            <a href="#" class="social-icon-sm si-gray si-gray-round si-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li class='list-inline-item'>
                            <a href="#" class="social-icon-sm si-gray si-gray-round si-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class='list-inline-item'>
                            <a href="#" class="social-icon-sm si-gray si-gray-round si-instagram">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class='list-inline-item'>
                            <a href="#" class="social-icon-sm si-gray si-gray-round si-g-plus">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class='float-sm-left'>
                    <ul class='list-inline mb0 links'>
                        <li class='list-inline-item'><a href='#'>Login</a></li>
                        <li class='list-inline-item'><a href='#'>Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end top bar-->
        
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
 <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
           <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
                        
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Elements
                            </a>
     
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>
                    </ul>
                </div><!--right nav icons-->
                
            </div>
        </nav><!--end nav-->
        <!--        <div class="carousel-category owl-carousel owl-theme">
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>Shoes</h4>
                            </div>
                            <img src="images/shop/p7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>Sunglasses</h4>
                            </div>
                            <img src="images/shop/p9.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>Jeans</h4>
                            </div>
                            <img src="images/shop/p10.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>T-shirts</h4>
                            </div>
                            <img src="images/shop/p6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>T-shirts</h4>
                            </div>
                            <img src="images/shop/p3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="product-category">
                            <div class="category-overlay">
                                <h4>T-shirts</h4>
                            </div>
                            <img src="images/shop/p4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>-->
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>	</div>
        </div><!-- END REVOLUTION SLIDER -->
        <div class="container pt90 pb60">
            <div class="title-heading1 mb40">
                <h3>New Arrivals</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                      <!-- <img src="images/race1.jpg" alt="" class="img-fluid"> -->
                        <%= image_tag('race1.jpg', class: "img-fluid") %>
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Women Bags</a></p>
                        <h4 class=""> $9.99</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p2.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Women Tops</a></p>
                        <h4 class=""> $25.00</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p3.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Winter rounded t-shirts</a></p>
                        <h4 class=""><del>29.00</del> $9.99</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p4.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Women sandals</a></p>
                        <h4 class=""> $21.00</h4>
                    </div>
                </div><!--/col-->
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p5.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Men Jeans</a></p>
                        <h4 class=""><del>29.00</del>  $7.0</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p6.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Winter T-shirts</a></p>
                        <h4 class=""> $25.00</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p7.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Rounded t-shirts</a></p>
                        <h4 class=""><del>29.00</del> $9.99</h4>
                    </div>
                </div><!--/col-->
                <div class="col-md-6 col-lg-3 mb40">
                    <a href="#" class="simple-hover">
                        <img src="images/shop/p8.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="clearfix product-meta">

                        <p class="lead mb0"><a href="#">Women T-shirts</a></p>
                        <h4 class=""> $21.00</h4>
                    </div>
                </div><!--/col-->
            </div>
        </div>

      
       </div>
       <footer class="footer footer-standard pt50 pb10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 mb40">

                        <ul class="list-unstyled footer-list-item">
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    News
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Term &amp; conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy &amp; policy
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 mb40">
                        <h3>Subscribe to our newsletter</h3>
                        <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                            <div class="input-group input-group-lg">

                                <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <div class="row pt30">
                            <div class="col-sm-6">
                                <p class="contact-lead">
                                    <small>Call us</small>
                                    <br>+01 123-493-2949
                                </p>
                            </div>
                             <div class="col-sm-6">
                                <p class="contact-lead">
                                    <small>Mail us</small>
                                    <br>support@domain.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="clearfix">
                            <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                                <i class="fa fa-skype"></i>
                                <i class="fa fa-skype"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>  
                        </div>
                    </div>
                    <div class="col-md-5">
                        <span>© Copyright 2017. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div>
        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
    </body>
=======
<h1>Bienvenue</h1>

<p>

</p>
>>>>>>> development
