<footer class="footer footer-standard pt50 pb10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 mb40">

                        <ul class="list-unstyled footer-list-item">
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    News
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQS
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Term &amp; conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy &amp; policy
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 mb40">
                        <h3>Subscribe to our newsletter</h3>
                        <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                            <div class="input-group input-group-lg">

                                <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <div class="row pt30">
                            <div class="col-sm-6">
                                <p class="contact-lead">
                                    <small>Call us</small>
                                    <br>+01 123-493-2949
                                </p>
                            </div>
                             <div class="col-sm-6">
                                <p class="contact-lead">
                                    <small>Mail us</small>
                                    <br>support@domain.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="clearfix">
                            <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                                <i class="fa fa-skype"></i>
                                <i class="fa fa-skype"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>  
                        </div>
                    </div>
                    <div class="col-md-5">
                        <span>© Copyright 2017. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div>
       
